h1 {
    color:rgb(105, 76, 48);
    text-align: center;
    text-decoration: wavy underline;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    color: rgb(170, 121, 80);
    background-color: burlywood;
    text-align: center;
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
}
p {
    color: rgb(189, 184, 171);
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace; 
}
ol {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(189, 184, 171);
}
li {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(189, 184, 171);
}
a {
    color: rgb(230, 194, 160);
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-color: #efe4d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav li {
    margin: 0 10px;
}
@media screen and (max-width: 945px) {
    header {
        flex-direction: column;
        align-items:flex-start;
    }
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

}