h1 {
    color: rgb(105, 76, 48);
    text-align: center;
    text-decoration: wavy underline;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: rgb(189, 184, 171);
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
}

ol {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(189, 184, 171);
}

li {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(189, 184, 171);
}

a {
    color: rgb(230, 194, 160);
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    color: rgb(105, 76, 48);
    text-align: center;

    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contenedor_padre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    place-content: 20px;
    height: 200px;
}
.card {
    width: 600px;
    background: #efe4d2;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
    transition: transform .3s ease, box-shadow .3s ease;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.18);
}

.card img {
    width: 90%;
    height: 400px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    color: #6f5b45;
    margin-bottom: 12px;
    font-size: 1.4rem;
}

.card-content p {
    color: #7e6b56;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 20px;
}
.contenedor_padre {
    background-color: #efe4d2;
    display: flex;
    }
    header{
    background-color: #efe4d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav li {
    margin: 0 10px;
}
@media screen and (max-width: 945px) {
    header {
        flex-direction: column;
        align-items:flex-start;
    }
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

}